/*font-family: 'Arvo', serif;*/
/*font-family: 'Roboto', sans-serif;*/

.font-head {
    font-family: 'Arvo', serif;
}

.font-content-gray {
    font-family: 'Roboto', sans-serif;
    color: #EDEDED;
}

.nav-bg-color {
    background-color: #D8C6C6;
}

.nav-height {
    height: 2rem;
}
.nav-padding {
    padding-top: .5rem;
    line-height: normal;
}
.icon-padding {
    margin-right: 1rem;
}

.width100 {
    width: 100%;
}

ul>li {
    margin-left: .7rem;
}