/*font-family: 'Arvo', serif;*/
/*font-family: 'Roboto', sans-serif;*/
html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
}

.font-h1 {
    font: bold 2.5rem 'Arvo', serif;
}

.font-h2 {
    font: bold 2rem 'Roboto', serif;
}
.font-map {
    font: 1.5rem 'Roboto', serif;
}

.font-content-gray {
    color: #EDEDED;
}

.nav-top-content {
    height: 7rem;
    background-color: #D8C6C6;
    padding-top: 5rem;
}

.nav-padding {
    padding-top: .5rem;
    line-height: normal;
}
.icon-padding {
    margin-right: 1rem;
}

.width100 {
    width: 100%;
}

ul>li {
    margin-left: .7rem;
}

.nav-main {
    background-color: #594844;
    padding: .5rem 1rem;
    /*overflow: auto;*/
}

.navbar-collapse {
    background: #594844;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link{
    color: #EDEDED;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: #D8C6C6;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: burlywood;
}

.nav-padding-top {
    padding-top: .5rem;
}

/* will be fixed */
.component-size {
    min-height: 62.5rem;
}

.video-col {
    width: 530px;
}

.video-comp {
    background: transparent url('img/video.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000080;
    opacity: 1;
}

.comp-bg {
    background: transparent linear-gradient(80deg, var(--unnamed-color-d3c4c4) 0%, #6A6262 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(80deg, #D3C4C4 0%, #6A6262 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.video-comp-h1 {
    padding-left: 2rem;
    font: bold 2.5rem 'Arvo', serif;
}

.video-comp-h2 {
    font: italic 1.5rem 'Arvo', serif;
}

.portfolio-comp-photo {
    background: transparent url('img/Intersection 1.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000080;
    opacity: 1;
    border-radius: 50%;
    /*margin-bottom: 2rem;*/
}

.box-shadow {
    box-shadow: 0px 3px 6px #00000080;
}

.hakkimda-p {
    padding-bottom: 2rem;
}

.hakkimda-img {
    border-radius: 8rem;
    opacity: 1;
}

.padding-h1 {
    padding-top: 2.5rem;
}

.footer-comp {
    height: 12.5rem;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.margin-x {
    margin: 1rem 0;
}


